.navButton {
    font: inherit;
    background-color: #f0f0f0;
    border: 0;
    color: #242424;
    border-radius: 0.5em;
    font-size: 1.00rem;
    padding: 0.2em 1em;
    font-weight: 600;
    text-shadow: 0 0.0625em 0 #fff;
    box-shadow: inset 0 0.0625em 0 0 #f4f4f4, 0 0.0625em 0 0 #efefef,
        0 0.125em 0 0 #ececec, 0 0.25em 0 0 #e0e0e0, 0 0.3125em 0 0 #dedede,
        0 0.375em 0 0 #dcdcdc, 0 0.425em 0 0 #cacaca, 0 0.425em 0.5em 0 #cecece;
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
    top: -0.25rem;
}

button:active {
    translate: 0 0.225em;
    box-shadow: inset 0 0.03em 0 0 #f4f4f4, 0 0.03em 0 0 #efefef,
        0 0.0625em 0 0 #ececec, 0 0.125em 0 0 #e0e0e0, 0 0.125em 0 0 #dedede,
        0 0.2em 0 0 #dcdcdc, 0 0.225em 0 0 #cacaca, 0 0.225em 0.375em 0 #cecece;
}

.burger {
    position: relative;
    width: 30px;
    height: 20px;
    background: transparent;
    cursor: pointer;
    display: block;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 90%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-50%);
}

.burger input:checked~span:nth-of-type(1) {
    top: 0;
    left: 4px;
    transform: rotate(405deg);
}

.burger input:checked~span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked~span:nth-of-type(3) {
    top: 16px;
    left: 4px;
    transform: rotate(-405deg);
}

.navMenu {
    display: none;
    position: absolute;
    top: 3.75rem;
    right: 1.25rem;
    z-index: 100;
    flex-direction: column;
    width: 150px;
    background-color: #0d1117;
    justify-content: center;
    border-radius: 5px;
}

.navMenu.open {
    display: flex;
}

.menuOption {
    background-color: transparent;
    border: none;
    padding: 8px;
    color: white;
    display: flex;
    position: relative;
    gap: 3px;
    cursor: pointer;
    border-radius: 4px;
}

.menuOption:not(:active):hover,
.menuOption:focus {
    background-color: #21262c;
}

.menuOption:focus,
.menuOption:active {
    background-color: #1a1f24;
    outline: none;
}

.menuOption::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -10px;
    width: 5px;
    height: 80%;
    background-color: #2f81f7;
    border-radius: 5px;
    opacity: 0;
}

.menuOption:focus::before,
.menuOption:active::before {
    opacity: 1;
}

.menuOption svg {
    width: 15px;
}

#logoutIcon {
    width: 13px;
    margin-left: 3px;
}